# THOR PRO , Encoder FT232RL
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6999", MODE="0664", GROUP="plugdev"


